@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cor-header-footer: #4387e5;
  --cor-principal: #1170d6;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
} 

button,
input {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}